@model Dictionary<String, List<ZenithDataLib.Models.Event>>
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@foreach (var e in Model)
{
    <h2>@e.Key</h2>
    foreach (var i in e.Value)
    {
        <h3>@i.Activity.Description</h3>
    }
}